{% extends "layout.html" %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th class="col-md-2">Property</th>
      <th class="col-md-10">Value</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>
        Id
      </td>
      <td>
        {{ item['Id'] }}
      </td>
    <tr>

    <tr>
      <td>
        Name
      </td>
      <td>
        {{ item['Name'] }}
      </td>
    <tr>

    <tr>
      <td>
        Description
      </td>
      <td>
        {{ item['Description'] }}
      </td>
    </tr>

    <tr>
      <td>
        Owner
      </td>
      <td>
        {{ item['Owner'] }}
      </td>
    </tr>

    <tr>
      <td>
        Maintainer
      </td>
      <td>
        {{ item['Maintainer'] }}
      </td>
    </tr>

    <tr>
      <td>
        Use-Policy
      </td>
      <td>
        {{ item['Usage'] }}
      </td>
    </tr>

    <tr>
      <td>
        Discard-Policy
      </td>
      <td>
        {{ item['Discard'] }}
      </td>
    </tr>
    <tr>
      <td>
        Parent
      </td>
      <td>
        {% if item['Parent'] == 0 %}
          None
        {% else %}
          <a href="{{ url_for("show_item", id=item['Parent']['Id'])}}">{{ item['Parent']['Name'] }}</a>
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>
        Images
      </td>
      <td>
        {{ item['Images'] }}
      </td>
    </tr>
  </tbody>
</table>

<div id="label-status"></div>
<button id="label-button" class="btn btn-default">Print Label</button>

<script>
  $("#label-button").bind("click", function(e) {
    $.post("{{ url_for("print_label", id=item['Id'])}}", function(e) {
      $("#label-status").html(
        "<div class=\"alert alert-success\" role=\"alert\">"+
        "Label printed successfully</div>"
      );
    }).fail(function(e){
      $("#label-status").html(
        "<div class=\"alert alert-danger\" role=\"alert\">"+
        "Label printing failed: "+e.responseText+"</div>"
      );
    });
  });
</script>

{% endblock %}
